<!DOCTYPE html>
<html>
<head>
    <title>Inspection Predictor</title>
</head>
<body>

<h2>Inspection Status Predictor</h2>

<form method="POST">

    SWL:<br>
    <input type="number" step="0.01" name="swl"><br><br>

    Location:<br>
    <input type="text" name="location"><br><br>

    Description:<br>
    <input type="text" name="description"><br><br>

    Manufacture:<br>
    <input type="text" name="manufacture"><br><br>

    <button type="submit">Predict</button>

</form>

{% if prediction %}
<h3>Prediction: {{ prediction }}</h3>
{% endif %}

</body>
</html>
